@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <label>Code</label>
        <input asp-for="Product.Code" />
        <label>Name</label>
        <input asp-for="Product.Name" />
        <label>Price</label>
        <input asp-for="Product.Price" />
        <label>Category</label>
        <input asp-for="Product.Category" />
        <input type="submit" value="Добавить" />
    </form>
    <table>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
        @{ 
            foreach(var p in Model.Products)
            {
                <tr>
                    <td>@p.Code</td>
                    <td>@p.Name</td>
                    <td>@p.Price</td>
                    <td>@p.Category</td>
                </tr>
            }
        }
    </table>
</div>
