@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form method="post">
        <label>Code</label>
        <input asp-for="Product.Code" />
        <label>Name</label>
        <input asp-for="Product.Name" />
        <label>Price</label>
        <input asp-for="Product.Price" />
        <label>Category</label>
        <input asp-for="Product.Category" />
        <input type="submit" value="Добавить" />
    </form>
</div>
